.header {
  text-align: center;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login {
    margin: 0 auto;
    max-width: 320px;
  }
}